.layout-container {
    margin: 20 10 20 10;
}

.android-layout-container {
    margin: 2 10 20 10;
}

@keyframes play {
    from {
        opacity: 0.5;
        transform: scale(0.5, 0.5);
    }

    50% {
        opacity: 0.8;
        transform: scale(1.1, 1.1);
        animation-timing-function: ease-out;
    }

    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}

.btn {
    margin: 2;
    opacity: 0;
}

.btn-animated {
    margin: 2;
    animation-name: play;
    animation-duration: 1;
    transform: scale(0.5, 0.5);
    animation-fill-mode: forwards;
}

.btn-animated2 {
    margin: 2;
    animation-name: play;
    animation-duration: 1;
    transform: scale(0.5, 0.5);
    animation-fill-mode: forwards;
}
