// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.
/* Font icon class*/
.fa {
    font-family: "FontAwesome";
}

// Common page class
.page-content {

    .page-placeholder {
        color: $page-icon-color;
        font-size: $page-content-placeholder-font-size;
        vertical-align: center;
        horizontal-align: center;
    }

    .page-icon {
        font-size: 72;
        vertical-align: top;
        horizontal-align: center;
        color: $page-icon-color;
        margin-top: 20%;
    }
}

/* Action bar*/
ActionBar .action-bar-title {
    horizontal-align: center;
}

// Animations
.layout-container {
    margin: 20 10 20 10;
}

.android-layout-container {
    margin: 2 10 20 10;
}

@keyframes play {
    from {
        opacity: 0.5;
        transform: scale(0.5, 0.5);
    }

    50% {
        opacity: 0.8;
        transform: scale(1.1, 1.1);
        animation-timing-function: ease-out;
    }

    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}

.btn {
    margin: 2;
    padding: 20;
    opacity: 0;
}

.btn-animated {
    margin: 2;
    padding: 20;
    animation-name: play;
    animation-duration: 1;
    transform: scale(0.5, 0.5);
    animation-fill-mode: forwards;
}

.btn-animated2 {
    margin: 2;
    padding: 20;
    animation-name: play;
    animation-duration: 1;
    transform: scale(0.5, 0.5);
    animation-fill-mode: forwards;
}
